<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Incident Reporting</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="~/bootstrap.css" rel="stylesheet" media="screen">
        <meta name="viewport" content="width=device-width" />
        
    </head>
    <body>
        @RenderBody()
    </body>
</html>
